version 8.0

group Main
  source https://api.nuget.org/v3/index.json
  framework: netstandard2.0
  storage: none
  content: none
  
  nuget Microsoft.Extensions.Logging.Abstractions
  nuget Newtonsoft.Json
  nuget xunit
  nuget Serilog

group Tests
  source https://api.nuget.org/v3/index.json
  framework: net472,net6.0,net8.0
  storage: none
  content: none

  nuget Microsoft.NET.Test.Sdk
  nuget xunit
  nuget xunit.runner.visualstudio
  nuget coverlet.collector
